<md-card>
  <md-card-title-group>
    <md-card-title>
      <img class="diary-note-title-icon" src="assets/img/ic_pin_black_24dp.png">
      <div class="diary-note-date">
        <span class="diary-note-day">{{item?.time | date : 'dd'}}</span>
        <span class="diary-note-month">{{item?.time | date : 'MMMM'}}</span>
        <span class="diary-note-year">{{item?.time | date : 'yyyy'}}</span>
      </div>
      <div class="diary-note-title">{{item?.title}}</div>
    </md-card-title>
  </md-card-title-group>
  <md-card-content>
    <p [innerHtml]="item?.text | safeHtml"></p>
  </md-card-content>
</md-card>
