md-card {
  /*min-height: 248px;*/
  min-width: 450px;
  margin: 8px;
}

md-card-title-group {
  padding: 15px;
}

md-card-content {
  padding: 15px 0;
}

.title-image {
  min-height: 248px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  box-shadow: 0 0 0 50vh rgba(0, 0, 0, 0.2) inset;
}

.diary-note-title-icon {
  width: 34px;
  height: 34px;
  float: left;
}

.diary-note-date {
  float: left;
  width: calc(100% - 34px); /* 34px icon width */
}

.diary-note-day {
  font-size: 28px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

.diary-note-month {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.diary-note-year {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.diary-note-title {
  font-size: 24px;
  display: inline-block;
  margin-top: 10px;
  width: 100%;
}
