.info {
  padding: 74px;
  min-height: 100px;
  min-width: 450px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.info-content {
  color: white;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
}

.active {
  position: absolute;
  left: 1em;
  top: 1em;
  min-width: auto;
}
