.app-toolbar {
}

.app-toolbar-title {
  padding: 0px 16px;
  cursor: pointer;
  font-weight: normal;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.sidenav-container {
  height: calc(100vh - 64px); /* .mat-toolbar {	min-height:64px } */
  /*height: 100vh;*/
  width: 100vw;
}

.sidenav {
  padding: 16px;
  min-width: 200px;
  /*width: 200px;*/
}

.sidenav-item {
  cursor: pointer;
  transition: background-color .15s ease-out;
}

.sidenav-item:hover {
  background-color: #eee;
}

:host .sidenav-item span {
  margin-left: .5em;
}

.app-content-wrapper {
  overflow: auto;
}

.app-content {

}
