.app-travel-list-action {
  display: inline-block;
  position: sticky;
  float: right;
  bottom: 56px;
  right: 56px;
  margin-top: 4px;
  margin-bottom: -60px;
}

.app-travel-list-action button md-icon {
  color: white;
}

app-travel-item {
}
