<div color="primary">
  <app-travel-info [travel]="travel | async"></app-travel-info>
</div>
<md-tab-group [selectedIndex]="selectedIndex"
              (selectChange)="changeSelectedIndex($event)">
  <md-tab label="DIARY">
    <app-diary-list [travelId]="travelId"></app-diary-list>
  </md-tab>
  <md-tab label="REMINDER">
    <app-reminder-list [travelId]="travelId"></app-reminder-list>
  </md-tab>
  <md-tab label="MAP">
    <h1>Some tab "MAP" content</h1>
    <p>...</p>
  </md-tab>
</md-tab-group>
<span class="app-travel-action" *ngIf="selectedIndex === 0">
  <button md-fab (click)="createDiaryNote()"><md-icon>add</md-icon></button>
</span>
<span class="app-travel-action" *ngIf="selectedIndex === 1">
  <button md-fab (click)="createReminderItem()"><md-icon>add</md-icon></button>
</span>
