<div *ngIf="!(authService.user | async)">
  <button md-button (click)="login()">Login</button>
</div>
<div *ngIf="authService.user | async">
  <img src="{{ authService.userInfo.photoURL || '/assets/img/no-photo.gif' }}"
     alt="{{ authService.userInfo.displayName }}"
     class="user"
     [mdMenuTriggerFor]="menu" />
  <md-menu #menu="mdMenu">
    <button md-menu-item routerLink="/profile">
      <md-icon class="md-18">account_box</md-icon>
      <span class="label">Profile</span>
    </button>
    <button md-menu-item (click)="logout()">
      <md-icon class="md-18">exit_to_app</md-icon>
      <span class="label">Logout</span>
    </button>
  </md-menu>
</div>
